:root {
    --color-dark: rgb(14,14,14);
    --color-dark2:rgb(32,32,32);
    --color-dark3:rgb(22,22,22);
    --color-red: rgb(184,40,35);
    --color-white: #fff;
    --color-verdeViolet: #99CD85;
    --color-verdeolivaescuro: #434D36;
    --color-verdeoliva: #CFE0BC; 
}

h1{
    padding-top: 8%;
    color: var(--color-verdeolivaescuro)
}

body{
    background-color: var(--color-verdeoliva);
    color: var(--color-verdeolivaescuro);
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    align-items: center;
    gap: 4rem;
    

}

.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
   
   
}

.content--add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    
}

#input--new-task,
#btn--new-task{

 border: none;
 outline: none;
 padding: 1rem;

}

#input--new-task  {
    background-color: var(--color-white);
    color: var(--color-verdeolivaescuro);
    width: 20rem;
    border-radius: 1rem;

}
#input--new-task{
  
    transition: 1s;
    border-radius: 1rem;
    padding-left: 1rem;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: var(--color-verdeolivaescuro);
}


#btn--new-task{
    background-color: var(--color-white);  
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 1s;
}

#btn--new-task:hover{   
    color: white;
    background-color: #CFE0BC;
}

#to-do-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#to-do-list li{
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#to-do-list li:hover{
    background-color: var(--color-verdeoliva);
    transition: 1s;
    border-radius: 1rem;
    padding-left: 1rem;

}

#btn-ok{
    border:none;
    background-color: #fff;
    color: var(--color-verdeolivaescuro);
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center ;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}

#btn-ok:hover{
    background-color: #CFE0BC;
    color: #fff;
}

